<div class="container mt-4 p-0">
  <div class="row">
    <div class="col-lg-4">
      <div class="card full-width m-0">
        <div class="card-header">
          Retirement
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item active">
              <a href="/insurance-options/dental-vision">Overview</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="container mt-4 p-0">
        <div class="row">
          <div class="col-lg-4">
            <div class="card full-width m-0">
              <div class="card-header">
                Planning Your Retirement
              </div>
              <div class="card-body">
                <p>Get tips and advice for planning your retirement. This section covers essential topics such as
                  turning 65, still working, who will take care of you, and preparing your estate.</p>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><a routerLinkActive="active"
                      routerLink="/planning-your-retirement/planning-your-retirement-summary">Planning Your
                      Retirement</a></li>
                  <li class="list-group-item"><a routerLinkActive="active"
                      routerLink="/planning-your-retirement/turning-65">Turning 65?</a></li>
                  <li class="list-group-item"><a routerLinkActive="active"
                      routerLink="/planning-your-retirement/still-working">Still Working?</a></li>
                  <li class="list-group-item"><a routerLinkActive="active"
                      routerLink="/planning-your-retirement/who-will-take-care-of-you">Who Will Take Care of You?</a>
                  </li>
                  <li class="list-group-item"><a routerLinkActive="active"
                      routerLink="/planning-your-retirement/preparing-your-estate">Preparing Your Estate</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-8">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
