<div class="container mt-4 p-0">
  <div class="row">
    <div class="col-lg-4">
      <div class="card full-width m-0">
        <div class="card-header">
          Insurance Options
        </div>
        <div class="card-body">
          <p>Explore various insurance options available to you, including Medicare, Individual and Family Plans, life insurance, annuities, long-term care, dental and vision, and accident, cancer, and disability insurance.</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/insurance-options/medicare-insurance">Medicare</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/insurance-options/individual-and-family-plans">Individual and Family Plans</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/insurance-options/life-insurance">Life Insurance</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/insurance-options/annuities">Annuities</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/insurance-options/long-term-care">Long Term Care</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/insurance-options/dental-vision">Dental & Vision</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/insurance-options/other-insurance">Accident, Cancer, & Disability</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
