<div class="container mt-4 p-0">
  <div class="row">
    <div class="col-lg-4">
      <div class="card full-width m-0">
        <div class="card-header">
          For Providers
        </div>
        <div class="card-body">
          <p>Healthcare providers play a crucial role in delivering quality care to patients. This section offers resources and information tailored to the needs of doctors, pharmacists, medical groups, and other healthcare professionals.</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/for-providers/doctors">Doctors</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/for-providers/pharmacists">Pharmacists</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/for-providers/medical-groups">Medical Groups</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/for-providers/news">News</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
