<div class="container mt-4 p-0">
  <div class="row">
    <div class="col-lg-4">
      <div class="card full-width m-0">
        <div class="card-header">
          Exercise
        </div>
        <div class="card-body">
          <p>Welcome to the Exercise section. Here you will find various resources and articles related to physical activity and fitness.</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/exercise/basics-of-exercise">Basics of Exercise: Do You Follow a Comprehensive Workout Regimen?</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/exercise/age-appropriate-exercise">Age-Appropriate Exercise</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/exercise/staying-strong-as-you-age">Staying Strong As You Age</a></li>
            <li class="list-group-item"><hr style="border: none;" /></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/article">Back to Articles</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
