<div class="container mt-4 p-0">
  <div class="row">
    <div class="col-lg-4">
      <div class="card full-width m-0">
        <div class="card-header">
          General Health & Lifestyle
        </div>
        <div class="card-body">
          <p>Welcome to the General Health & Lifestyle section. Here you will find various resources and articles related to maintaining a healthy lifestyle.</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/general-health-lifestyle/five-sneaky-causes-of-weight-gain">5 Sneaky Causes of Weight Gain</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/general-health-lifestyle/simple-steps-to-prevent-falls">Simple Steps to Prevent Falls</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/general-health-lifestyle/seven-simple-steps-to-make-a-healthy-change">7 Simple Steps to Make a Healthy Change</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/general-health-lifestyle/living-healthy-to-100">Living Healthy to 100</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/general-health-lifestyle/battling-dangerous-belly-fat">Battling Dangerous Belly Fat</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/general-health-lifestyle/boost-your-digestion">Boost Your Digestion</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/general-health-lifestyle/seasonal-allergies-relief-from-wheezing-and-sneezing">Seasonal Allergies - Relief from Wheezing and Sneezing</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/general-health-lifestyle/simple-steps-to-boost-your-immune-system">Simple Steps to Boost Your Immune System</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/general-health-lifestyle/ten-tips-to-boost-your-energy">10 Tips to Boost Your Energy</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/general-health-lifestyle/top-10-positive-behaviors-that-can-improve-your-health-and-reduce-your-risk-of-disease">Top 10 Positive Behaviors That Can Improve Your Health and Reduce Your Risk of Disease</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/general-health-lifestyle/hearing-aids-do-more-than-help-you-hear">Hearing Aids Do More Than Help You Hear</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/general-health-lifestyle/saving-your-life-with-sunscreen">Saving Your Life with Sunscreen</a></li>
            <li class="list-group-item"><hr style="border: none;" /></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/article">Back to Articles</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
