<div class="container mt-4 p-0">
  <div class="row">
    <div class="col-lg-4">
      <div class="card full-width m-0">
        <div class="card-header">
          Diseases & Disease Prevention
        </div>
        <div class="card-body">
          <p>Welcome to the Diseases & Disease Prevention section. Here you will find various resources and articles related to diseases and their management.</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/disease/the-history-of-disease-part-1-how-we-see-it">The History of Disease, Part 1: How We See It</a>
            </li>
            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/disease/the-history-of-disease-part-2-how-diseases-evolved-and-spread">The History of Disease, Part 2: How Diseases Evolved and Spread</a>
            </li>
            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/disease/modern-day-diseases-different-generations-different-health-problems">Modern Day Diseases: Different Generations, Different Health Problems</a>
            </li>
            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/disease/modern-day-disease-management">Modern Day Disease Management</a>
            </li>
            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/disease/the-history-of-vaccines">The History of Vaccines</a>
            </li>
            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/disease/how-vaccines-work">How Vaccines Work</a>
            </li>
            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/disease/how-the-covid-vaccine-works">How the COVID Vaccine Works</a>
            </li>
            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/disease/top-10-diseases-and-their-risk-factors">Top 10 Diseases and Their Risk Factors</a>
            </li>

            <li class="list-group-item"><hr style="border: none;" /></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/article">Back to Articles</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
