<div class="container mt-4 p-0">
  <div class="card full-width m-0">
    <div class="card-header bg-primary text-white">
      Hearing Aids Do More Than Help You Hear
    </div>
    <div class="card-body">
      <p>Lose your hearing, and you have to learn how to walk all over again.</p>

      <p>For those of us who have never been without our hearing, it’s hard to imagine what life would be like without it. Social isolation, dizziness and headaches, depression, loss of vision, and falls due to imbalance are all part and parcel of significant hearing loss.</p>

      <p>In your lifetime, you are born with about 15,000 tiny hair cells deep within your ear canal. These tiny hairs pick up sound waves and change them into the nerve signals that your brain interprets as sound. However, over time, when we are exposed to loud sounds, these tiny hair cells can die, and with them, a small amount of hearing is lost. The hair cells do not regrow, so hearing loss caused by hair cell damage is permanent.</p>

      <p>There is no known single cause of age-related hearing loss. Most commonly, it is caused by changes in the inner ear that occur as you grow older. Your genes and loud noise (for example from loud concerts or music headphones) may play a role.</p>

      <p>The following factors contribute to age-related hearing loss:</p>
      <p>• Family history (age-related hearing loss tends to run in families)</p>
      <p>• Repeated exposure to loud noises</p>
      <p>• Smoking (smokers are more likely to have such hearing loss than nonsmokers)</p>
      <p>• Certain medical conditions, such as diabetes</p>
      <p>• Certain medicines, such as chemotherapy drugs for cancer</p>

      <p>Noise exposure is one of the leading causes of hearing impairment. With all the wearable technology we have today, such as headsets used for gaming, sound is being delivered in many different ways, making current generations the highest likely population to need hearing aids due to poor sound management.</p>

      <p>The best thing you can do for yourself is bring with you a pair of earplugs or a pair of loud noise ear protection, especially if you go somewhere with music or large motors. Earphones with noise cancellation will also provide significant assistance. Better yet, avoid locations or environments that force you to have to listen to loud sounds.</p>

      <p>You can keep your hearing intact as you age, so long as you work to preserve it.</p>

      <h2>The Effects of Hearing Loss</h2>

      <h2>Social &amp; Emotional Effects</h2>
      <p>Research out of Johns Hopkins University in Maryland has shown a connection between mild cognitive impairment, dementia, and a loss of hearing. Those that fail to correct their hearing loss many find themselves in social settings where they are having a conversation with someone they cannot hear. But instead of creating social trouble, they simply say “yes” or nod their head, all the while compounding their sense of isolation and becoming emotionally exhausted in the meantime.</p>

      <p>Lacking connection with the outside world reduces the number of inputs we have to stimulate our thinking. As the saying goes, use it or lose it. Those that cannot stay engaged will begin to lose their sharpness in thinking, which will increase the risk of cognitive impairment. 30-40% of individuals with untreated hearing impairment are more likely to become cognitively impaired. These individuals are 5X more likely to develop dementia as a result compared to those who treat their hearing impairment.</p>

      <h2>Physicial Effects</h2>
      <p>Balance disorders and vestibular issues are more apparent in those that leave their hearing impairment untreated. Your ability to balance comes from your body’s ability to understand itself within your immediate environment. Eyes help to form a mental picture, while air pressure and the way sound travels around you helps your body to regulate its positioning.</p>

      <p>As you lose your hearing, the auditory input to the brain diminishes. This reduction in acoustic signals can impact the brain's ability to process spatial information, leading to instability and a higher risk of falls. Put another way, your ears operate in a way somewhat akin to a dolphin’s sonar system. When your ears fail to pick up the proper signals, your body loses its ability to balance, increasing the chance of falls.</p>

      <p>Those that do not get their hearing treated are 32X more likely to be hospitalized and 2X more likely to die earlier than those who get their hearing treated. If your hearing declines, get tested and seek out hearing aids before it is too late.</p>

      <h2>Hearing Technology</h2>
      <p>In its simplest form, hearing technology amplifies sounds. From there, there are many different hearing bands, like colors in the sky. Like those that cannot see the color green, hearing loss may result in very specific frequencies that are lost, as opposed to 100% loss.</p>

      <p>Today, high end hearing aids can sense the difference between direct conversations you may have in a coffee shop vs. ambient conversations a few tables over, and shut those conversations out with noise-cancelling technology which can sound dampen. The future of hearing aids is to be all-sensing. They can already function with the same abilities as a FitBit device.</p>

      <h2>How to Buy Hearing Aids</h2>

      <h2>With Hearing Aids</h2>
      <p>• Your risk of falling declines by 400-600%</p>
      <p>• Cognitive Decline, which is typical but subtle as you age, slows down by 30%</p>
      <p>• Tinnitus symptoms are less severe</p>
      <p>• Social engagement increases</p>

      <p>Typical hearing aids cost about $5,000 per ear for a high quality, top of the line pair. These include Bluetooth functionality, rechargeable batteries, customized fitting, and the ability to use them in active settings such as social events or hiking.</p>

      <p>Lower level hearing aids may require that you replace the batteries regularly, and are used for a more sedentary lifestyle where noise cancellation or other features are not necessary.</p>

      <p>If you are being charged more than $10,000 for a pair of quality hearing aids, walk out of the office. Hearing Aid providers are known for marking up the price of hearing aids in order to reap the profit.</p>

      <p>Hearing Aids provide you with greater access to the world you live in, allowing you to remain connected. Without this connection, your brain has less engagement and cognitive decline can occur must faster. Depression becomes common, and quality of life plummets.</p>

      <p>Getting a quality pair of hearing aids that can help keep you engaged and connected is essential for a long, healthy life.</p>
    </div>
  </div>
</div>
