<div class="container mt-4 p-0">
  <div class="row">
    <div class="col-lg-4">
      <div class="card full-width m-0">
        <div class="card-header">
          Social Problems
        </div>
        <div class="card-body">
          <p>
            Welcome to the Social Problems section. Here you will find various resources and articles related to social challenges and issues.
          </p>

          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/social-problems/solving-loneliness-in-healthcare">
                Solving Loneliness In Healthcare
              </a>
            </li>

            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/social-problems/dealing-with-isolation">
                Dealing with Isolation
              </a>
            </li>

            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/social-problems/is-the-world-getting-worse">
                Is the World Getting Worse?
              </a>
            </li>

            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/social-problems/social-media-literacy-101">
                Social Media Literacy 101
              </a>
            </li>

            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/social-problems/addiction-101">
                Addiction 101
              </a>
            </li>

            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/social-problems/addiction-102">
                Addiction 102: The Brain’s Role in Addiction and Hope for Recovery
              </a>
            </li>

            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/social-problems/addiction-103">
                Addiction 103: Trauma and Its Role in Addictive Behavior
              </a>
            </li>

            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/social-problems/addiction-104">
                Addiction 104: Society's Role in Shaping Addictive Behaviors
              </a>
            </li>

            <li class="list-group-item">
              <hr style="border: none;" />
            </li>

            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/article">
                Back to Articles
              </a>
            </li>
          </ul>

        </div>
      </div>
    </div>

    <div class="col-lg-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
