<div class="container mt-4 p-0">
  <div class="row">
    <div class="col-lg-4">
      <div class="card full-width m-0">
        <div class="card-header">
          Medicare
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item" [ngClass]="{ 'active': !showMedicare101Trainings && !showPlanComparison }">
                <a href="/insurance-options/medicare?numbers=0">Overview</a>
            </li>
            <li class="list-group-item" [ngClass]="{ 'active': showMedicare101Trainings }">
                <a href="/insurance-options/medicare?numbers=1">Medicare 101 Trainings</a>
            </li>
            <li class="list-group-item" [ngClass]="{ 'active': showPlanComparison }">
                <a href="/insurance-options/medicare?numbers=2">Compare & Enroll</a>
            </li>
        </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="container m-0">
        <!-- Hero Section -->
        <div class="jumbotron jumbotron-fluid" *ngIf="!showMedicare101Trainings && !showPlanComparison">
          <div class="container">
            <h2 class="display-4">Medicare Insurance</h2>
            <p class="lead">Explore resources and support for understanding Medicare.</p>
            <img src="/assets/african-american-doctor-analyzing-medical-reports-with-her-colleagues-clinic.jpg" />
            <p>Are you ready to enroll into a plan and just need to see the data for yourself? If, so jump down to Compare & Enroll to get going.</p>
            <p>Otherwise, if you need more time to understand the system, please head to <a href="https://healthcarehelper.site/for-patients/medicare?numbers=0" target="_blank">https://healthcarehelper.site/for-patients/medicare?numbers=0</a> </p>
            <p>Or join one of our weekly trainings on Medicare.</p>
          </div>
        </div>
        <!-- Medicare Help Section -->
        <div class="row mb-4" *ngIf="showMedicare101Trainings">
          <div class="col-lg-12 p-0">
            <div class="card full-width m-0">
              <div class="card-header bg-primary text-white">
                Medicare 101 Trainings
              </div>
              <div class="card-body">
                <img src="/assets/people-meeting-community-center.jpg" />
                <p>Are you interested in joining one of our weekly Medicare 101 Trainings?</p>
                <p><a href="/healthcare-resources/training-events-videos-webinars" class="btn btn-success">Sign up for Training</a></p>
              </div>
            </div>
          </div>
        </div>
        <!-- Medicare Help Section -->
        <div class="row mb-4" *ngIf="showPlanComparison">
          <div class="col-lg-12 p-0">
            <div class="card full-width m-0">
              <div class="card-header bg-primary text-white">
                Plan comparison
              </div>
              <div class="card-body">
                <img src="/assets/medical-enrollment-form-document-medicare-concept.jpg" />
                <p>Are you just looking to do a plan comparison so you can enroll?</p>
                <p><a href="https://healthmarkets7.destinationrx.com/PC/Agent/u/QTY1NDAx/Consumer?SourceSiteType=YnJva2Vy&AgentLoginDomain=SGVhbHRoTWFya2V0c19Ccm9rZXJfUFJPRA%3d%3d&lang=en&PY=1" target="_blank" class="btn btn-info">Compare & Enroll</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
