<div class="container mt-4 p-0">
  <div class="row">
    <div class="col-lg-4">
      <div class="card full-width m-0">
        <div class="card-header">
          Training Events, Videos, & Webinars
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item active">
              <a href="/healthcare-resources/training-events-videos-webinars">Overview</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="container m-0">
        <!-- Hero Section -->
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h2 class="display-4">Training Events, Videos, & Webinars</h2>
          </div>
        </div>


        <div class="row mb-4">
          <div class="col-lg-12">
            <div class="card full-width m-0">
              <div class="card-header bg-primary text-white">Training Events, Videos, & Webinars</div>
              <div class="card-body">
                <img src="/assets/senior-man-home-couch-having-video-call-tablet-wearing-headphones.jpg" />
                <p>Are you looking to receive a formal in-person training or webinar training on Medicare or Retirement planning? Or would you like to view one of our recent trainings instead?</p>
                <p>Medicare 101 virtual trainings are held every Monday at 5pm PST.</p>
                <p>Trainings for the following are held by appointment only. There is no cost for any of our trainings:</p>
                <ul>
                  <li>Life Insurance & Virtual Training</li>
                  <li>Annuities Virtual Training</li>
                  <li>Long Term Care Virtual Training</li>
                  <li>Social Security Virtual Training</li>
                  <li>Taxes In Retirement Virtual Training</li>
                </ul>
                  <p><a class="btn btn-primary" href="/about-us/contact-us">RSVP!</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
