<div class="container mt-4 p-0">
  <div class="row">
    <div class="col-lg-4">
      <div class="card full-width m-0">
        <div class="card-header">
          Finances
        </div>
        <div class="card-body">
          <p>Welcome to the Finances section. Here you will find articles related to financial education, taxes, retirement planning, and protecting your financial well-being.</p>

          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/finances/financial-literacy-101">
                Financial Literacy 101
              </a>
            </li>
            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/finances/are-529-contributions-tax-deductible">
                Are 529 Contributions Tax Deductible?
              </a>
            </li>
            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/finances/irs-rules-for-caregivers">
                IRS Rules for Caregivers: Why Hiring an In-Home Support Caregiver Can Be Tricky
              </a>
            </li>
            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/finances/top-10-retirement-myths">
                Top 10 Retirement Myths
              </a>
            </li>
            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/finances/capitalize-on-tax-opportunities">
                Capitalize on Tax Opportunities
              </a>
            </li>
            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/finances/making-sense-of-roth-conversions">
                Making Sense of Roth Conversions
              </a>
            </li>
            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/finances/annual-financial-planning-checklist">
                Annual Financial Planning Checklist: How to Stay Financially Fit Each Year
              </a>
            </li>
            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/finances/how-qualified-charitable-donations-can-lower-your-taxes">
                How Qualified Charitable Donations Can Lower Your Taxes
              </a>
            </li>
            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/finances/tax-efficient-investment-strategies">
                Tax Efficient Investment Strategies
              </a>
            </li>
            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/finances/lending-money-to-family-or-friends">
                Lending Money to Family or Friends
              </a>
            </li>
            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/finances/identity-theft-10-ways">
                Identity Theft: 10 Ways to Lower Your Risk of Being Victimized
              </a>
            </li>

            <li class="list-group-item"><hr style="border: none;" /></li>
            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/article">Back to Articles</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
