<div class="container mt-4 p-0">
  <div class="card full-width m-0">
    <div class="card-header bg-primary text-white">
      Clean Eating: Ditch the Processed Food
    </div>
    <div class="card-body">
      <p>Clean eating is a nutrition concept that emphasizes healthy, whole, unprocessed foods. It may help you make healthy food choices and limit the amount of processed food in your diet. Clean eating is all about choosing whole, unprocessed foods to fuel your body with nutrient-rich options. Processed foods, on the other hand, are often high in unhealthy fats, sugars, and artificial ingredients. To clean up your diet, start by choosing fresh fruits and vegetables, lean proteins, and whole grains. Swap out pre-packaged meals and snacks for homemade options, and read food labels carefully to avoid hidden additives. Clean eating helps improve energy levels, supports weight management, and promotes overall health.</p>

      <p>Clean eating encourages followers to:</p>
      <p>• Focus on whole foods by choosing “real” foods rather than processed options</p>
      <p>• Enjoy freedom and flexibility while using well-grounded principles</p>

      <p>Eating whole and minimally processed foods falls in line with the current nutrition recommendations from the United States Department of Agriculture’s Dietary Guidelines, which emphasizes eating fruits, vegetables, whole grains, nuts and seeds, and lean animal protein, while reducing the amount of added sugar, salt and fat in one’s diet.</p>

      <h2>What are processed foods?</h2>
      <p>The term “processed” refers to any food that has been purposely changed in some way prior to being consumed. This includes food that has been cooked, canned, frozen and packaged.</p>
      <p>It also includes food that has been changed nutritionally—this could be through fortification of vitamins and minerals, the addition of preservatives to help keep foods fresh longer, and any sort of preparation to improve a food’s taste, texture or appearance, like adding salt or artificial colors.</p>

      <p>Processed foods do have some benefits, including:</p>
      <p>• They can be fortified with vitamins, minerals and other nutrients like calcium, vitamin D and fiber</p>
      <p>• Some minimally processed foods—like pre-cut fruits and vegetables—can be a great alternative for busy people</p>
      <p>• Frozen fruits and vegetables are available year-round and may cost less than fresh versions The key is to limit heavily processed foods.</p>

      <h2>What types of things are added to foods?</h2>
      <p>Many ingredients may be added to food for a variety of reasons. Additives and preservatives may:</p>
      <p>• Help improve look and taste. Artificial colors enhance looks, and salt, sugar and fat enhance taste.</p>
      <p>• Help boost nutritional value. Some vitamins, minerals and other nutrients may be added to foods.</p>
      <p>• Make a food last longer. Preservatives can boost shelf life and some chemicals protect crops.</p>

      <p>The FDA maintains a list of over 3,000 ingredients added to foods in its database. All food additives are carefully regulated by the FDA and other international organizations to ensure that foods are safe to eat and accurately labeled.</p>

      <p>Here is a partial list of additves placed in foods:</p>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Types of ingredients</th>
            <th>What they do</th>
            <th>Examples of uses</th>
            <th>Names found on product labels</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Preservatives</td>
            <td>Prevent food spoilage; slow or prevent changes in color, flavor or texture and maintain freshness</td>
            <td>Fruit sauces and jellies, beverages, baked goods, cured meats, oils and margarines, cereals, dressings, snack foods,<br>fruits and vegetables</td>
            <td>Ascorbic acid, citric acid, sodium benzoate, calcium propionate, sodium erythorbate, sodium nitrite, calcium sorbate, potassium sorbate, BHA, BHT, EDTA, tocopherols (vitamin E)</td>
          </tr>
          <tr>
            <td>Sweeteners</td>
            <td>Add sweetness with or without the extra calories</td>
            <td>Beverages, baked goods, confections, table-top sugar, substitutes, many processed foods</td>
            <td>Sucrose (sugar), glucose, fructose, sorbitol, mannitol, corn syrup, high fructose corn syrup, saccharin, aspartame, sucralose, acesulfame potassium (acesulfame-K), neotame</td>
          </tr>
          <tr>
            <td>Color additives</td>
            <td>Offset color loss or correct natural variations in color; enhance colors that occur naturally; provide color to colorless and "fun" foods</td>
            <td>Many processed foods, (candies, snack foods margarine, cheese, soft drinks, jams/jellies, gelatins, pudding and<br>pie fillings)</td>
            <td>FD&amp;C Blue Nos. 1 and 2, FD&amp;C Green No. 3, FD&amp;C Red Nos. 3 and 40, FD&amp;C Yellow Nos. 5 and 6, Orange B, Citrus Red No. 2, annatto extract, beta-carotene, grape skin extract, cochineal extract or carmine, paprika oleoresin, caramel color, fruit and vegetable juices, saffron</td>
          </tr>
          <tr>
            <td>Flavors and spices</td>
            <td>Add specific flavors (natural and synthetic)</td>
            <td>Pudding and pie fillings, gelatin dessert mixes, cake mixes, salad dressings, candies,<br>soft drinks, ice cream, BBQ sauce</td>
            <td>Natural flavoring, artificial flavor and spices</td>
          </tr>
          <tr>
            <td>Flavor enhancers</td>
            <td>Enhance flavors already present in foods</td>
            <td>Frozen dinners, snack foods, instant soups</td>
            <td>Monosodium glutamate (MSG), hydrolyzed soy protein, autolyzed yeast extract, disodium guanylate or inosinate</td>
          </tr>
          <tr>
            <td>Fat replacers</td>
            <td>Provide expected texture and a creamy "mouth-feel" in reduced-fat foods</td>
            <td>Baked goods, dressings, frozen desserts, confections, cake and dessert mixes, dairy products</td>
            <td>Olestra, cellulose gel, carrageenan, polydextrose, modified food starch, microparticulated egg white protein, guar gum, xanthan gum, whey protein concentrate</td>
          </tr>
          <tr>
            <td>Nutrients</td>
            <td>Replace vitamins and minerals lost in processing; add nutrients that may<br>be lacking in the diet</td>
            <td>Flour, breads, cereals, rice, macaroni, margarine, salt, milk, fruit beverages, energy bars, instant breakfast drinks</td>
            <td>Thiamine hydrochloride, riboflavin (vitamin B2), niacin, niacinamide, folate or folic acid, beta carotene, potassium iodide, iron or ferrous sulfate, alpha tocopherols, ascorbic acid, vitamin D, amino acids (L-tryptophan, L-lysine, L-leucine, L-methionine)</td>
          </tr>
          <tr>
            <td>Emulsifiers</td>
            <td>Allow smooth mixing of ingredients, prevent separation; keep emulsified products stable, reduce stickiness, keep ingredients dispersed, and to help products dissolve more easily</td>
            <td>Salad dressings, peanut butter, chocolate, margarine, frozen desserts</td>
            <td>Soy lecithin, mono- and diglycerides, egg yolks, polysorbates, sorbitan monostearate</td>
          </tr>
          <tr>
            <td>Stabilizers and thickeners, binders, texturizers</td>
            <td>Produce uniform texture, improve "mouth-feel"</td>
            <td>Frozen desserts, dairy products, cakes, pudding and gelatin mixes, dressings, jams and jellies, sauces</td>
            <td>Gelatin, pectin, guar gum, carrageenan, xanthan gum, whey</td>
          </tr>
          <tr>
            <td>pH control agents and acidulants</td>
            <td>Control acidity and alkalinity, prevent spoilage</td>
            <td>Beverages, frozen desserts, chocolate, low-acid canned foods, baking powder</td>
            <td>Lactic acid, citric acid, ammonium hydroxide,<br>sodium carbonate</td>
          </tr>
          <tr>
            <td>Leavening agents</td>
            <td>Promote rising of<br>baked goods</td>
            <td>Breads and other<br>baked goods</td>
            <td>Baking soda, monocalcium phosphate, calcium carbonate</td>
          </tr>
          <tr>
            <td>Anti-caking agents</td>
            <td>Keep powdered foods free flowing, prevent moisture absorption</td>
            <td>Salt, baking powder, confectioner's sugar</td>
            <td>Calcium silicate, iron ammonium citrate, silicon dioxide</td>
          </tr>
          <tr>
            <td>Humectants</td>
            <td>Retain moisture</td>
            <td>Shredded coconut, marshmallows, soft candies, confections</td>
            <td>Glycerin, sorbitol</td>
          </tr>
          <tr>
            <td>Yeast nutrients</td>
            <td>Promote growth<br>of yeast</td>
            <td>Breads and other<br>baked goods</td>
            <td>Calcium sulfate, ammonium phosphate</td>
          </tr>
          <tr>
            <td>Dough strengtheners<br>and conditioners</td>
            <td>Produce more<br>stable dough</td>
            <td>Breads and other<br>baked goods</td>
            <td>Ammonium sulfate, azodicarbonamide, L-cysteine</td>
          </tr>
          <tr>
            <td>Firming agents</td>
            <td>Maintain crispness<br>and firmness</td>
            <td>Processed fruits<br>and vegetables</td>
            <td>Calcium chloride, calcium lactate</td>
          </tr>
          <tr>
            <td>Enzyme preparations</td>
            <td>Modify proteins, polysaccharides and fats</td>
            <td>Cheese, dairy products, meat</td>
            <td>Enzymes, lactase, papain, rennet, chymosin</td>
          </tr>
          <tr>
            <td>Gases</td>
            <td>Serve as propellant, aerate, or create carbonation</td>
            <td>Oil cooking spray, whipped cream, carbonated beverages</td>
            <td>Carbon dioxide, nitrous oxide</td>
          </tr>
        </tbody>
      </table>

      <p>Clean eating is about replacing processed foods with fresh, whole foods whenever possible. These foods have not had anything added to them, like preservatives, sugar or other artificial ingredients. It also includes foods that have not had anything valuable taken away.</p>

      <h2>Tip #1: Load up on produce</h2>
      <p>Fruits and vegetables are packed with nutrients and according to the USDA, they may help reduce the risk of heart disease, obesity, Type 2 diabetes and some types of cancers.3 The USDA recommends that you fill half your plate with nutritious fruits and vegetables.</p>
      <p>Organic or not? A good rule of thumb is to focus on buying organic foods from the Environmental Working Group’s Dirty Dozen™ list, and conventional options from the Clean Fifteen™ list.</p>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>The Dirty Dozen™</th>
            <th>The Clean Fifteen™</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>1. Strawberries</p>
              <p>2. Spinach</p>
              <p>3. Nectarines</p>
              <p>4. Apples</p>
              <p>5. Grapes</p>
              <p>6. Peaches</p>
              <p>7. Cherries</p>
              <p>8. Pears</p>
              <p>9. Tomatoes</p>
              <p>10. Celery</p>
              <p>11. Potatoes</p>
              <p>12. Kale</p>
            </td>
            <td>
              <p>1. Avocados</p>
              <p>2. Sweet corn</p>
              <p>3. Pineapples</p>
              <p>4. Cabbages</p>
              <p>5. Onions</p>
              <p>6. Sweet peas (frozen)</p>
              <p>7. Papayas</p>
              <p>8. Asparagus</p>
              <p>9. Mushrooms</p>
              <p>10. Eggplants</p>
              <p>11. Honeydew melon</p>
              <p>12. Kiwi</p>
              <p>13. Cantaloupes</p>
              <p>14. Cauliflower</p>
              <p>15. Broccoli</p>
            </td>
          </tr>
        </tbody>
      </table>

      <h2>Tip #2: Choose whole grains</h2>
      <p>Whole grains offer a “complete package” of health benefits. All whole-grain kernels contain three parts: the brain, the germ and the endosperm. Each of these parts boasts health-promoting nutrients.</p>
      <p>• The brain is the outer layer that is rich in fiber, and contains B vitamins, iron, copper, zinc, magnesium, antioxidants and phytochemicals.</p>
      <p>• The germ is the core of the seed that is rich in healthy fats, vitamin E, B vitamins, antioxidants and phytochemicals.</p>
      <p>• The endosperm is the innermost layer that contains carbohydrates, protein and small amounts of B vitamins and some minerals.</p>

      <p>Refined grains are stripped of nutrients, and they’re digested quickly, leading to a sharp spike in blood sugar. Refined grains include white rice, bread and pasta, and processed breakfast cereals. Whole grains, on the other hand, are digested more slowly. The Harvard School of Public Health says they may help keep your insulin and blood sugar levels steady, help you feel full longer, prevent weight gain and ward off disease.</p>

      <p>Try to choose whole grains that have been the least processed—grains like quinoa, brown or wild rice, farro, and whole oats fit the bill. Whole-wheat pasta and whole-grain bread can also fit into a healthy diet, but look for options with a simple ingredient list. Remember: Whole grains should always be the first ingredient listed.</p>

      <h2>Tip #3: Select meat carefully</h2>
      <p>Some “clean eaters” avoid meat all together and opt to follow a vegetarian or vegan lifestyle; others choose their meats wisely.</p>
      <p>Luckily, there are many great non-meat sources of protein, including eggs, nuts, beans and lentils. However, you do not have to be a vegan or vegetarian to eat clean. You may need to be more careful when selecting meat. Consider the following tips:</p>
      <p>• Stick with lean options like skinless turkey and chicken, lean beef and fish.</p>
      <p>• Choose options without antibiotics and/or growth hormones.</p>
      <p>• Look for varieties that have lived and eaten as they would in the wild—for example, grass-fed beef and wild-caught salmon. Avoid processed meats, such as bacon, sausage and cold cuts.</p>
      <p>Note: The USDA allows meat, poultry and egg products to be labeled as “natural.” This means they are minimally processed and contain no artificial ingredients.</p>

      <h2>Tip #4: Follow the ingredients label</h2>
      <p>It is not always possible to avoid packaged foods completely. In these cases, it helps to know what to look for. Reading the ingredients list is the only way to know what is in your food. Consider the following tips when reading the list:</p>
      <p>• Keep the list short and simple. Remember: The ingredients are listed in order of quantity. Look for a short list of ingredients you recognize. You can also look for labels like “free of artificial dyes and flavors” or “preservative-free.”</p>
      <p>• Don’t be fooled by the label. Do not assume a food labeled as “low sodium,” “sugar-free” or “zero transfat” is made with high-quality ingredients.</p>

      <h2>Tip #5: Limit packaged foods when possible</h2>
      <p>A major component of clean eating is limiting processed and packaged foods as much as possible. For many Americans, this is a major change to their current eating habits. When shopping, create a strategy for navigating the supermarket. Always shop with a list to help prevent impulse purchases and focus on the perimeter of the store; this is where you will likely find whole foods like produce, dairy and meat.</p>

      <h2>Tip #6: Watch for hidden sugar, sodium and fat</h2>
      <p>Another way to clean up your diet is to avoid added sugar, sodium and fat.</p>
      <p>Sugars in your diet can be naturally occurring or added. The American Heart Association recommends that men consume no more than 9 teaspoons (36 grams, 150 calories) and women consume no more than 6 teaspoons (25 grams, 100 calories) of added sugars daily—many people eat much more than this</p>

      <p>To tell if a food has added sugars, look at the ingredients list and keep in mind that sugar has many aliases. Any word ending in –ose is code for sugar, such as maltose or sucrose. Other names for sugar include high fructose corn syrup, molasses, cane sugar, corn sweeteners, raw sugar, syrup, honey or fruit juice concentrates.</p>

      <p>The United States Department of Agriculture and the American Heart Association recommend that most healthy adults consume no more than 2,300 mg of sodium each day—that’s about 1 teaspoon of salt. To limit sodium, compare labels on any of the packaged foods you purchase and select the product with the lowest amount of sodium per serving. Also look for “no salt added” versions of canned vegetables as well as condiments, sauces and dressings.</p>

      <p>Transfats can be found in many foods including fried foods, processed foods like snack cakes, pie crusts, biscuits, frozen pizzas, cookies, crackers and stick margarines and other spreads.</p>

      <p>On the ingredients list, these fats are called “partially hydrogenated oils.” You can avoid them by following the clean eating principles discussed in this guide, avoiding commercially fried food and looking for them in the ingredients list before you purchase a packaged food.</p>

      <h2>Other ways to live clean</h2>
      <p>Your diet is only one piece of the puzzle, and, chances are, there are other aspects of your life that could use a cleanup too. Consider the tips below.</p>
      <p>• Be physically active. Find activities you enjoy and make small changes to help you be more active.</p>
      <p>• Get plenty of sleep. Practice healthy sleep habits and aim for about 8 hours per night.</p>
      <p>• Connect with others. Find people with whom you can talk, laugh, play a game or go for a walk.</p>

      <h2>Everything in moderation</h2>
      <p>Clean eating does not mean that some foods are clean or good and other foods are dirty or bad. Labeling foods this way can be dangerous and may create an unhealthy relationship with food.</p>
      <p>Instead, think of clean eating as a way to become more aware of what’s in the food you’re eating—and thus, enhancing your ability to choose the most wholesome and nutritious options. Remember, processed food is not always a bad thing, and neither are additives and preservatives. However, moderation is key.</p>
    </div>
  </div>
</div>
