<div class="container mt-4 p-0">
  <div class="row">
    <div class="col-lg-4">
      <div class="card full-width m-0">
        <div class="card-header">
          Dental & Vision
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item active">
              <a href="/insurance-options/dental-vision">Overview</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="container m-0">
        <!-- Hero Section -->
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h2 class="display-4">Dental & Vision</h2>
            <p class="lead">Explore dental and vision insurance options to ensure comprehensive healthcare coverage.</p>
          </div>
        </div>

        <!-- Dental & Vision Overview Section -->
        <div class="row mb-4">
          <div class="col-lg-12">
            <div class="card full-width m-0">
              <div class="card-header bg-primary text-white">
                Dental & Vision Coverage
              </div>
              <div class="card-body">
                <p>Medical Insurance includes dental and vision that is considered medically necessary. For instance, an
                  individual who broke his jaw would be provided medically necessary dental coverage. A patient
                  suffering from blindness due to diabetes would also receive the services of medically necessary vision
                  care.</p>
                <p>Routine dental and vision is generally an option benefit. A patient in need of a cleaning or a crown
                  would get this care under a routine dental plan. Eye tests and a small allowance to pay for contacts
                  or eyeglasses would also be considered routine vision care.</p>
                <p>Routine Dental and Vision policies are typically bundled together and may range from under $20 for
                  HMO dental to $100 for a PPO with a larger cash allowance.</p>
                <p><a href="/about-us/contact-us" class="btn btn-primary">Purchase a Dental & Vision Plan</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
