<div class="container mt-4 p-0">
  <div class="row">
    <div class="col-lg-4">
      <div class="card full-width m-0">
        <div class="card-header">
          Healthcare Resources
        </div>
        <div class="card-body">
          <p>Welcome to our comprehensive Healthcare Resources section. Here, you will find a variety of valuable information and tools designed to help you navigate the complex world of healthcare and insurance.</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/healthcare-resources/medicare-calculators">Medicare Calculators</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/resources/resource-library">Resource Library</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/healthcare-resources/training-events-videos-webinars">Training Events, Videos, & Webinars</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/healthcare-resources/medical-terms">Medical Terms</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/healthcare-resources/healthcare-terms">Healthcare Terms</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/healthcare-resources/life-insurance-terms">Life Insurance Terms</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/healthcare-resources/resources-for-the-homeless">Resources for the Homeless</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/healthcare-resources/social-security">Social Security</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/healthcare-resources/events-webinars">Events & Webinars</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/healthcare-resources/health-wellness-resources">Health & Wellness Resources</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/healthcare-resources/medical-terms-glossary">Medical Terms Glossary</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
