<div class="container mt-4 p-0">
  <div class="row">
    <div class="col-lg-4">
      <div class="card full-width m-0">
        <div class="card-header">
          Technology
        </div>
        <div class="card-body">
          <p>Welcome to the Technology section. Here you will find various resources and articles related to technology and healthcare.</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/technology/protect-yourself-from-scams">Protect Yourself from Scams</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/technology/how-seniors-can-protect-themselves-from-ai-scams">How Seniors Can Protect Themselves from AI Scams</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/technology/genomic-mapping-and-the-future-of-healthcare">Genomic Mapping and the Future of Healthcare</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/technology/how-to-make-telehealth-work">How to Make Telehealth Work (and When You Should See Your Doctor)</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/technology/ai-telehealth">AI Telehealth?</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/technology/understanding-social-media-pitfalls-and-promises">Understanding Social Media: Pitfalls and Promises</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/technology/how-technology-has-become-a-part-of-your-healthcare">How Technology Has Become a Part of your Healthcare (wearables, AI, and Telehealth)</a></li>
            <li class="list-group-item"><hr style="border: none;" /></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/article">Back to Articles</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
