<div class="container mt-4 p-0">
  <div class="row">
    <div class="col-lg-4">
      <div class="card full-width m-0">
        <div class="card-header">
          Planning Your Retirement
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item active">
              <a href="/insurance-options/dental-vision">Overview</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="container m-0">
        <!-- Hero Section -->
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h2 class="display-4">Planning Your Retirement</h2>
            <p class="lead">Prepare for your future with a comprehensive retirement plan.</p>
          </div>
        </div>

        <!-- Planning Your Retirement Section -->
        <div class="row mb-4">
          <div class="col-lg-12">
            <div class="card full-width m-0">
              <div class="card-header bg-primary text-white">
                Retirement Planning Considerations
              </div>
              <div class="card-body">
                <img src="/assets/full-shot-senior-couple-seaside.jpg" />
                <p>In planning for your retirement, you need to know what your projected future expenses will be, how
                  you will fund these expenses, and what your timing will be for each program.</p>
                <p>Data is critical in all of these considerations. Creating a retirement plan for yourself and your
                  spouse requires that you consider your <a target="_blank"
                    href="https://www.ssa.gov/benefits/retirement/planner/agereduction.html">life expectancy</a>,
                  calculate your <a target="_blank" href="https://www.ssa.gov/benefits/calculators/">Social Security
                    benefits</a> amount in addition to your other forms of income, determine what form your Medicare
                  will take, and what costs you will expect to pay, and finally, calculate all current expenses in order
                  to budget properly.</p>
                <p>For most retirees, Social Security Retirement Income is the largest source of retirement income. But
                  Social Security will not tell you which retirement option to take, nor which will provide the greatest
                  payout. You must know in advance before you begin your Social Security retirement in order to make the
                  right financial decision. Healthcare Helper uses propriety software to help you accurately project and
                  maximize your Social Security retirement.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
