<div class="container mt-4 p-0">
  <div class="row">
    <div class="col-lg-4">
      <div class="card full-width m-0">
        <div class="card-header">
          Nutrition
        </div>
        <div class="card-body">
          <p>
            Welcome to the Nutrition section. Here you will find various resources and articles related to nutrition and healthy eating.
          </p>

          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/nutrition/sneaky-sodium-where-are-you-hiding">
                Sneaky Sodium: Where Are You Hiding?
              </a>
            </li>

            <li class="list-group-item"><a routerLinkActive="active" routerLink="/nutrition/test-your-nutrition-iq">Test Your Nutrition IQ</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/nutrition/good-foods-for-your-gut">Good Foods for Your Gut</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/nutrition/good-fats-bad-fats">Good Fats, Bad Fats</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/nutrition/eating-healthy-when-eating-out">Eating Healthy When Eating Out</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/nutrition/fruits-and-vegetables-color-yourself-healthy">Fruits and Vegetables: Color Yourself Healthy</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/nutrition/healthy-eating-to-control-cholesterol">Healthy Eating to Control Cholesterol</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/nutrition/the-shakedown-on-sugar">The Shakedown on Sugar</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/nutrition/get-smart-about-food-labels">Get Smart About Food Labels</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/nutrition/superfoods">Superfoods</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/nutrition/stretch-your-grocery-dollars">Stretch Your Grocery Dollars</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/nutrition/the-truth-about-carbs">The Truth About Carbs</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/nutrition/organic-foods-to-buy-or-not-to-buy">Organic Foods: To Buy or Not to Buy</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/nutrition/how-nutrition-changes-as-you-age">How Nutrition Changes as You Age</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/nutrition/is-your-plate-heart-healthy">Is Your Plate Heart Healthy?</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/nutrition/protein-are-you-getting-enough">Protein: Are You Getting Enough?</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/nutrition/cooking-for-one">Cooking for One</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/nutrition/foods-to-boost-your-brain-power">Foods to Boost Your Brain Power</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/nutrition/rate-your-plate">Rate Your Plate</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/nutrition/clean-eating-ditch-the-processed-food">Clean Eating: Ditch the Processed Food</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/nutrition/nutrition-in-the-21st-century">Nutrition in the 21st Century</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/nutrition/are-natural-flavors-really-natural">Are Natural Flavors really “Natural”?</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/nutrition/banned-in-europe-but-not-in-the-us">Banned in Europe, But Not in the US?</a></li>

            <li class="list-group-item"><hr style="border: none;" /></li>
            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/article">Back to Articles</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
