<div class="container mt-4 p-0">
  <div class="row">
    <div class="col-lg-4">
      <div class="card full-width m-0">
        <div class="card-header">
          Behavioral Habits
        </div>
        <div class="card-body">
          <p>Welcome to the Behavioral Habits section. Here you will find various resources and articles related to developing healthy behavioral habits.</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/behavioral-habits/habits-of-happy-people">Habits of Happy People</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/behavioral-habits/the-power-of-positivity">The Power of Positivity: When Life Gives You Lemons</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/behavioral-habits/aging-happily">Aging Happily: Simple Steps for a Long, Healthy Life</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/behavioral-habits/boosting-your-mood-with-food-and-fitness">Boosting Your Mood with Food and Fitness</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/behavioral-habits/staying-social">Staying Social: How to Do It Right</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/behavioral-habits/decompress-from-stress">Decompress from Stress</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/behavioral-habits/partner-with-your-doctor">Partner With Your Doctor</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/behavioral-habits/disease-vs-dis-ease-what-it-means-to-heal">Disease vs. Dis-ease: What it Means to Heal</a></li>
            <li class="list-group-item"><hr style="border: none;" /></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/article">Back to Articles</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
