<div class="container mt-4 p-0">
  <div class="card full-width m-0">
    <div class="card-header bg-primary text-white">
      Saving Your Life with Sunscreen
    </div>
    <div class="card-body">
      <p>According to the American Academy of Dermatology, 20% of Americans will develop skin cancer during their lifetime. The unfortunate truth to this statistic is that is almost always preventable with consistent and proper application of sunscreen.</p>

      <p>Sunscreen works by blocking both ultraviolet A and ultraviolet B rays. UV rays cut through clouds, and can therefore reach us even on overcast days. When left unblocked, UV rays can damage your skin cells all the way down to your DNA, which tells our body’s cells how to function. Eventually, with your DNA unable to do its job, your skin cells may reproduce at an abnormal rate, thus becoming cancerous.</p>

      <p>Beyond this, unprotected skin that becomes damaged will lead to sunspots developing across your exposed arms, hands, and face, physically aging your body much faster. As your skin cells become damaged, they also lose elasticity and suppleness, becoming more wrinkled and dry over time. It is hard to appreciate this when we are young, because the effects of sun damage take decades to appear.</p>

      <p>Generally, people do not apply adequate sunscreen, nor do they apply it at the right time. A light rub of sunscreen across your face and arms is not sufficient. In fact, if you are taking a trip to the beach, one ounce of sunscreen, or an espresso cup’s worth of lotion is what you will need to apply. For your face alone, squeeze lotion fully along the length of your index and middle fingers in order to apply the proper amount.</p>

      <p>Sunscreen must be absorbed into your skin in order to be effective, and it must also be reapplied as its effects wear off. Plan to apply your sunscreen 15 minutes prior to leaving your home, and then again every two hours in order to maintain defense against UV rays. If you are swimming or sweating, you will want to reapply sunscreen more frequently.</p>

      <p>Sunscreen is rated by an SPF (sun protection factor). It is recommended you use nothing lower than SPF 30. Be sure to apply it to areas which are commonly missed such as the back of your neck, ears, and the top of your feet.</p>

      <p>While a tan may look nice, it isn’t worth the health toll it may take as you age, so protect yourself!</p>
    </div>
  </div>
</div>
