<div class="container mt-4 p-0">
  <div class="row">
    <div class="col-lg-4">
      <div class="card full-width m-0">
        <div class="card-header">
          Resources On Homelessness
        </div>
        <div class="card-body">
          <p>Welcome to the Resources On Homelessness section. Here you will find various resources and articles related to homelessness and assistance.</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/resources-on-homelessness/why-homelessness-is-so-pervasive">Why Is Homelessness So Pervasive?</a>
            </li>
            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/resources-on-homelessness/where-to-go-for-housing-assistance">Where to go for Housing Assistance</a>
            </li>
            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/resources-on-homelessness/the-social-indicators-that-increase-risk-of-homelessness">The Social Indicators That Increase Risk of Homelessness</a>
            </li>

            <li class="list-group-item"><hr style="border: none;" /></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/article">Back to Articles</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
