<div class="container mt-4 p-0">
  <div class="card full-width m-0">
    <div class="card-header bg-primary text-white">
      Stretch Your Grocery Dollars
    </div>
    <div class="card-body">
      <p>Many people think eating healthy costs a fortune, but that’s not true. There are many ways to save on food and eat well without breaking the bank.</p>

      <h2>Five tips to stretch your food dollars</h2>

      <h2>Tip 1: Plan ahead and make a list</h2>
      <p>Start by mapping out all your meals and snacks for the week. Planning does take time, but it’s a key step for saving money and eating healthy.1 Try to create your meal plan based on items you already have on hand or healthy products that are on sale this week. After you’ve put together your plan, make a grocery list that captures everything you need for your meals. Don’t forget to add items you’re out of!</p>

      <h2>Tip 2: Be a savvy shopper</h2>
      <p>There’s a lot to consider at the supermarket, even if you stick to your list. Below are some ways to help you make healthy and budget-conscious choices.</p>
      <p>• Choose store-brand products over name brands to get the same nutrients at a lower cost.</p>
      <p>• Don’t go shopping when you’re hungry to avoid impulse purchases of unhealthy foods.</p>
      <p>• Avoid frequent trips to the supermarket so you aren’t spending money on items you don’t really need.</p>
      <p>• Shop the sales, use coupons and join your store’s loyalty program, but stick with healthy products that you know you’ll use.</p>

      <p>There are many other ways to save, depending on the food group you’re shopping for.</p>
      <p>The United States Department of Agriculture recommends the following:</p>
      <p>You can also compare unit prices to find the best bargain. A unit price tells the cost for a set amount of food. Unit prices are often listed as price per ounce or price per gallon. Larger packages of food often have lower unit prices. If a unit price isn’t listed, you can do the math yourself by dividing the price of the item by the quantity of weight.</p>

      <h2>Fruits and vegetables</h2>
      <p>Fresh fruits and vegetables will often cost less and taste better in season. But if you buy frozen or canned, look for vegetables that are labeled as no salt added or low sodium. And look for fruits that have been canned in 100% juice, light syrup or water.</p>

      <h2>Dairy products</h2>
      <p>Consider purchasing the store brand of low-fat or fat-free milk. Milk substitutes (e.g. soy, rice, almond, lactose-free) are generally more expensive.</p>
      <p>Purchase large containers of plain, low-fat yogurt, and add your own fruits or toppings to save money and calories.</p>
      <p>Pre-shredded cheese is often more expensive than blocks of cheese.</p>

      <h2>Grains</h2>
      <p>Purchase the store brands of whole-grain breads, cereals, pasta, crackers, rice and tortillas.</p>
      <p>Some stores sell grains as bulk items. If you purchase fresh bread, your grocery store may split the bag and give you only what you need.</p>
      <p>When purchasing rice and pasta, avoid pre-seasoned convenience packages—they’re often more expensive and high in fat and calories.</p>
      <p>Ready-to-eat grains (e.g. cereals, granola, oatmeal) are often more expensive and may contain unhealthy ingredients. Instead, buy the ingredients and make your own.</p>

      <h2>Protein</h2>
      <p>Look for low-cost protein options like beans, peas, lentils and eggs.</p>
      <p>Choose lean meat like chicken, turkey and 92%-lean ground beef; these are typically healthier.</p>
      <p>If larger packages are cheaper, buy them and freeze what you don’t use. Avoid pre-prepared meats. For seafood, consider buying canned tuna, salmon or sardines.</p>

      <h2>Fats and oils</h2>
      <p>Stick to healthy fats—these are oils that are liquid at room temperature. Examples include: canola oil, corn oil, olive oil and safflower oil. Choose other healthy sources of fats like nuts and natural nut butter (without hydrogenated oils), olives and avocados.</p>
      <p>Avoid unhealthy fats such as butter, cream, shortening, tropical oils (coconut, palm and palm kernel), and foods with hydrogenated or partially hydrogenated oils.</p>

      <h2>Canned and dry foods</h2>
      <p>Single-serving packages of snacks foods are more expensive. You can buy nuts and dried fruit in bulk and make small bags of snack mix rather than buying individual packages.</p>
      <p>Skip the chip and cookie aisles to save money and unwanted calories.</p>

      <h2>Tip 3: Consider all of your shopping options</h2>
      <p>Conventional supermarkets aren’t the only choice you have for purchasing food. You may be able to stretch your dollars by shopping at places like:</p>
      <p>• Warehouse or club stores. Many of the items sold at these stores come in large quantities, so you’ll need to make sure the items are nonperishable or freezable. You could also consider splitting your purchase with a friend.</p>
      <p>• Farmers markets or farm stands. These are places where local farmers sell food directly.</p>
      <p>Visit the USDA’s national farmers market directory at www.ams.usda.gov/local-food-directories/<br>farmersmarkets.</p>
      <p>• Community-supported agriculture (CSA) groups. A CSA is formed when members of a community become “shareholders” of a local farm by paying a membership or subscription fee. In return for their investment, they receive a box of seasonal produce each week during the farming season. You can find local CSAs at www.localharvest.org/csa/.</p>
      <p>• Ethnic markets. These markets may feature great deals on certain products, as well as some new and interesting foods you may not have tried before.</p>
      <p>You may also want to consider growing your own food. Not every living situation is suitable for gardening, but there are many options available, even for tight spaces. You could also consider finding a community garden.</p>

      <h2>Tip 4: Waste not, want not</h2>
      <p>Ensuring that food isn’t going to waste can help you save money, even after you’re done shopping.</p>
      <p>• Purchase the freshest option available. Reach back behind the older items often placed in the front. Always check the sell-by and expiration dates.</p>
      <p>• Store food correctly and freeze things when you need to. Consider splitting snack items purchased in bulk into smaller, pre-portioned containers. For grains, meat or produce purchased in bulk, take out what you need for the week and freeze the rest. Store fruits and vegetables in separate bins, especially bananas, apples and tomatoes, and avoid washing berries until you’re ready to eat.6 Store whole-grain bread at room temperature in its original packing, closed tightly.</p>
      <p>• Freeze foods correctly to prevent freezer burn. Wrap the food once in a plastic wrap or bag. Then wrap it in freezer paper or heavy aluminum foil. Label each item.</p>
      <p>• Follow the FIFO rule. Rotate foods on a first in, first out basis. Keep the oldest items toward the front.</p>
      <p>• Cook now, eat later. Cook a large meal (or several individual items) at the beginning of the week with the intent to use the extras later on.</p>
      <p>• Give new life to leftovers. Turn leftovers into brand new meals or side dishes.7</p>
      <p>• Store and reheat leftovers properly. Separate the foods that are not alike. Store and reheat them separately.</p>
      <p>Seal leftovers in a clean, airtight container and refrigerate at 40 degrees or below. If you plan to freeze portions, freeze them as soon as they cool off. To reduce the risk of food poisoning, it’s important to reheat leftovers to 165 degrees.</p>
      <p>• Be resourceful with foods that are going bad. If you have foods that are beginning to spoil, think of creative ways to use them.</p>

      <h2>Tip 5: Stay healthy away from home</h2>
      <p>If you’re trying to save money on food—and eat healthier—eating out should be a treat, not a habit.</p>
      <p>Careful planning can help you avoid situations in which eating out is your only option. Just like planning meals to prepare at home, you can plan meals and snacks to eat when you’re away from home.</p>
      <p>Still, you may occasionally choose to dine out. There are many ways to eat out on a budget including:</p>
      <p>• Go to affordable restaurants.</p>
      <p>• Dine out for breakfast or lunch, not dinner.</p>
      <p>• Share a meal with your dining companion.</p>
      <p>• Order off of the children’s or senior menu.</p>
      <p>• Choose an appetizer instead of a meal.</p>
      <p>• Eat half your meal, then box the rest for leftovers.</p>

      <p>Eating healthy doesn’t have to be expensive, and you can stretch your grocery dollars by making smart choices.</p>
    </div>
  </div>
</div>
