<div class="container mt-4 p-0">
  <div class="row">
    <div class="col-lg-4">
      <div class="card full-width m-0">
        <div class="card-header">
          Medical
        </div>
        <div class="card-body">
          <p>Welcome to the Medical section. Here you will find various resources and articles related to medical conditions and treatments.</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/medical/dealing-with-diabetes">Dealing with Diabetes</a>
            </li>
            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/medical/dealing-with-cancer">Dealing with Cancer: Best Practices for Prevention and Treatment</a>
            </li>
            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/medical/unique-healthcare-aspects-among-asian-americans">Unique Healthcare Aspects Among Asian Americans</a>
            </li>
            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/medical/unique-healthcare-aspects-among-african-americans">Unique Healthcare Aspects Among African Americans</a>
            </li>
            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/medical/unique-healthcare-aspects-among-latinos">Unique Healthcare Aspects Among Latinos</a>
            </li>
            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/medical/unique-healthcare-aspects-among-europeans">Unique Healthcare Aspects Among Europeans</a>
            </li>
            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/medical/unique-healthcare-aspects-among-middle-eastern-americans">Unique Healthcare Aspects Among Middle Eastern Americans</a>
            </li>

            <li class="list-group-item"><hr style="border: none;" /></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/article">Back to Articles</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
