<!-- Hero Section -->
<!-- <div class="jumbotron jumbotron-fluid p-5" style="background: url('/assets/adorable-senior-couple-being-affectionate-while-taking-walk.jpg') no-repeat center center; background-size: cover; color: white; background-position: 20% 20%;">
  <div class="container text-center">
    <h1 class="display-4" style="text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2), -1px -1px 2px rgba(0, 0, 0, 0.2);">Welcome to Healthcare Helper</h1>
    <h4 class="lead" style="text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2), -1px -1px 2px rgba(0, 0, 0, 0.2);">Your trusted source for healthcare information and resources.</h4>
    <a href="/about-us/contact-us" class="btn blue-background btn-lg mt-4">Contact Us</a>
  </div>
</div> -->

<div class="jumbotron jumbotron-fluid text-dark pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-content" style="z-index: 1000;">
        <h4 class="display-4">Losing Your Medicaid Coverage? We Can Help.</h4>
        <p class="lead">If you no longer qualify for Medicaid, we can help you find the right health coverage. HealthcareHelper
          Individual and Family plans can be an affordable option for you and your family.</p>
        <div class="row">
          <div class="col-lg-3 text-center"><img src="/assets/headset16x16.svg"
              style="width: 70px; margin: auto; position: relative;" /></div>
          <div class="col-lg-9">
            <p>Talk to a health plan consultant: <a href="tel:8444633435">844-463-3435</a><span class="rteTTY"> <br />
                (TTY: 711) Mon-Sat, 8 AM to 8 PM PT</span></p>
          </div>
        </div>
        <a href="/insurance-options/individual-and-family-plans?numbers=1" class="btn btn-primary mt-3">Explore Your Options</a>
        <p class="mt-3"><a href="/privacy-policy" class="text-muted">Privacy Policy</a></p>
      </div>
      <div class="col-md-6">
        <div class="image-container" style="width: 100%; height: 355px;">
          <img
            src="/assets/happy-parents-with-girl-relaxing-sofa.jpg"
            class="slide-image" alt="Happy Family" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-lg-4">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 text-center">
            <img src="/assets/id-card-dkgray-949494-48x48.svg" style="width: 70px; margin: auto; position: relative;" />
          </div>
          <div class="col-lg-9">
            <p>
              <a style="text-decoration: underline;" href="/about-us/contact-us">
                <u>Ready to Enroll?</u>
              </a>
              From Life, Health Care, and Medicare, we have you covered.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 text-center">
            <img src="/assets/past-appointment-dkgray-949494-48x48.svg"
              style="width: 70px; margin: auto; position: relative;" />
          </div>
          <div class="col-lg-9">
            <p><a href="/for-patients/medical-industry-overview?numbers=0" target="_self"><u>Understand your care options</u></a> ahead of time so you can save time and money. </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 text-center">
            <img src="/assets/head-with-brain-dkgray-949494-48x48.svg"
              style="width: 70px; margin: auto; position: relative;" />
          </div>
          <div class="col-lg-9">
            <p><a href="/mental-health/making-the-most-of-your-therapy-appointments" target="_self"><u>Focus on your Mental Health</u></a>. Now is the time to break through!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container mt-4">
  <h2 class="text-center">Stay Healthy — Stay Informed</h2>
  <p class="text-center">We've got the latest advice, tips, and news to help you get the most out of your benefits, find
    the best healthcare, and stay healthy.</p>
  <div class="text-center mb-4">
    <a class="btn btn-primary" href="/article">All Stories</a>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card" style="width: 100%;">
        <img src="/assets/happy-doctor-informing-senior-patient-about-health-insurance-options-consultations-clinic.jpg"
          class="card-img-top" alt="Doctor and patient">
        <div class="card-body">
          <h5 class="card-title">Why You Should Make Time to See Your Doctor for Regular Checkups</h5>
          <p class="card-text"><small class="text-muted">August 09, 2023</small></p>
          <p class="card-text">The right doctor can have a big impact on your well-being.</p>
          <a routerLinkActive="active" routerLink="/general-health-lifestyle/overview" class="btn btn-link">Full
            Article</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 100%;">
        <img src="/assets/nurse-with-nurse.jpg" class="card-img-top" alt="Patient using a phone">
        <div class="card-body">
          <h5 class="card-title">Concierge Care Helps Manage a Chronic Health Condition</h5>
          <p class="card-text"><small class="text-muted">May 12, 2023</small></p>
          <p class="card-text">Joliene Garlich didn't know much about Crohn's disease before she was diagnosed.</p>
          <a routerLinkActive="active" routerLink="/medical/overview" class="btn btn-link">Full Article</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 100%;">
        <img src="/assets/young-family-with-two-sons-together-sitting-park.jpg" class="card-img-top"
          alt="Family cooking together">
        <div class="card-body">
          <h5 class="card-title">Advancing Health Equity for the Black Community</h5>
          <p class="card-text"><small class="text-muted">January 10, 2023</small></p>
          <p class="card-text">Health equity means that everyone has the chance to be their healthiest.</p>
          <a routerLinkActive="active" routerLink="/healthcare/how-to-choose-a-doctor" class="btn btn-link">Full Article</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 100%;">
        <img src="/assets/caregiver-elderly-people.jpg" class="card-img-top" alt="Elderly care">
        <div class="card-body">
          <h5 class="card-title">Caregiver Resources: A Guide to Elderly Care</h5>
          <p class="card-text"><small class="text-muted">April 02, 2023</small></p>
          <p class="card-text">Explore resources and tips for providing the best care to elderly loved ones.</p>
          <a routerLinkActive="active" routerLink="/caregiver-resources/caregiver-survival-tips" class="btn btn-link">Full Article</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 100%;">
        <img src="/assets/adorable-senior-couple-being-affectionate-while-taking-walk.jpg" class="card-img-top"
          alt="Senior couple walking">
        <div class="card-body">
          <h5 class="card-title">Healthy Living in Retirement: Tips for Active Seniors</h5>
          <p class="card-text"><small class="text-muted">March 15, 2023</small></p>
          <p class="card-text">Stay active and healthy during retirement with these practical tips.</p>
          <a routerLinkActive="active" routerLink="/retirement-planning/overview" class="btn btn-link">Full Article</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 100%;">
        <img src="/assets/retirement-label-jar-filled-with-money.jpg" class="card-img-top" alt="Retirement planning">
        <div class="card-body">
          <h5 class="card-title">Planning for Retirement: What You Need to Know</h5>
          <p class="card-text"><small class="text-muted">February 20, 2023</small></p>
          <p class="card-text">Learn how to effectively plan for a financially secure retirement.</p>
          <a routerLinkActive="active" routerLink="/retirement-planning/overview" class="btn btn-link">Full Article</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 100%;">
        <img src="/assets/portrait-woman-working-pharmaceutical-industry.jpg" class="card-img-top"
          alt="Doctor informing patient">
        <div class="card-body">
          <h5 class="card-title">Understanding Health Insurance: A Comprehensive Guide</h5>
          <p class="card-text"><small class="text-muted">January 10, 2023</small></p>
          <p class="card-text">Get the most out of your health insurance with this comprehensive guide.</p>
          <a routerLinkActive="active" routerLink="/medical/overview" class="btn btn-link">Full Article</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 100%;">
        <img src="/assets/woman-eating-healthy.jpg" class="card-img-top" alt="Woman eating healthy">
        <div class="card-body">
          <h5 class="card-title">Nutrition and Wellness: The Foundation of Good Health</h5>
          <p class="card-text"><small class="text-muted">November 28, 2022</small></p>
          <p class="card-text">A balanced diet is key to maintaining good health and preventing diseases.</p>
          <a routerLinkActive="active" routerLink="/nutrition/overview" class="btn btn-link">Full Article</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 100%;">
        <img src="/assets/joyful-seniors-exercising-together-sunny-park.jpg" class="card-img-top"
          alt="Seniors exercising in park">
        <div class="card-body">
          <h5 class="card-title">Exercise for Seniors: How to Stay Fit and Healthy</h5>
          <p class="card-text"><small class="text-muted">October 10, 2022</small></p>
          <p class="card-text">Regular exercise is crucial for maintaining mobility and overall well-being in seniors.
          </p>
          <a routerLinkActive="active" routerLink="/exercise/overview" class="btn btn-link">Full Article</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 100%;">
        <img src="/assets/nurse-with-nurse.jpg" class="card-img-top" alt="Nurse with patient">
        <div class="card-body">
          <h5 class="card-title">Navigating Medicare: Tips for Choosing the Right Plan</h5>
          <p class="card-text"><small class="text-muted">September 05, 2022</small></p>
          <p class="card-text">Find out how to choose the best Medicare plan for your healthcare needs.</p>
          <a routerLinkActive="active" routerLink="/medicare/overview" class="btn btn-link">Full Article</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 100%;">
        <img
          src="/assets/senior-couple-talking-with-doctor-about-their-medical-records-while-having-consultations-clinic.jpg"
          class="card-img-top" alt="Doctor with patient">
        <div class="card-body">
          <h5 class="card-title">Vaccines: What You Need to Know to Stay Protected</h5>
          <p class="card-text"><small class="text-muted">August 12, 2022</small></p>
          <p class="card-text">Vaccines play a crucial role in preventing disease and keeping communities healthy.</p>
          <a routerLinkActive="active" routerLink="/vaccines/overview" class="btn btn-link">Full Article</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 100%;">
        <img src="/assets/healthcare-hero.jpg" class="card-img-top" alt="Healthcare hero">
        <div class="card-body">
          <h5 class="card-title">General Health and Lifestyle: The Importance of Regular Checkups</h5>
          <p class="card-text"><small class="text-muted">July 22, 2022</small></p>
          <p class="card-text">Regular checkups can catch health issues early and help maintain your overall well-being.
          </p>
          <a routerLinkActive="active" routerLink="/general-health-lifestyle/overview" class="btn btn-link">Full
            Article</a>
        </div>
      </div>
    </div>
  </div>
</div> -->


<!-- Services Section -->
<!-- <section class="container my-5">
  <h2 class="text-center mb-4">Our Services</h2>
  <div class="row">
    <div class="col-md-4">
      <img src="/assets/happy-doctor-informing-senior-patient-about-health-insurance-options-consultations-clinic.jpg"
        class="img-fluid" alt="Personalized Healthcare Plans">
      <h3 class="mt-3">Personalized Healthcare Plans</h3>
      <p>We offer customized healthcare plans that suit your individual needs and preferences. Our team of experts is
        here to guide you through every step of the process. Whether you're looking for comprehensive coverage,
        specialized care, or something in between, we tailor our services to match your lifestyle and health goals.</p>
      <p>Our personalized approach ensures that your healthcare plan is not just a one-size-fits-all solution. We take
        into account your medical history, current health status, and future needs to create a plan that provides peace
        of mind and access to the best care possible. With Healthcare Helper, you can rest assured that you're getting
        the attention and support you deserve.</p>
    </div>
    <div class="col-md-4">
      <img src="/assets/female-assistant-nursing-home-helping-old-man-with-crutches-use-his-mobile-phone.jpg"
        class="img-fluid" alt="Expert Consultations">
      <h3 class="mt-3">Expert Consultations</h3>
      <p>Connect with top healthcare professionals for consultations. Our experts are available to answer your questions
        and provide the best advice for your health concerns.</p>
      <p>Whether you need guidance on managing a chronic condition, understanding a recent diagnosis, or exploring
        treatment options, our team is here to help. We ensure that you have access to the most current and relevant
        medical information, empowering you to make decisions with confidence. Our consultations are designed to be
        thorough and patient-centered, focusing on your unique needs and circumstances.</p>
      <p>We also offer support for navigating the complexities of the healthcare system, including understanding
        insurance benefits, finding the right specialists, and coordinating care.</p>
    </div>

    <div class="col-md-4">
      <img
        src="/assets/health-life-insurance-concept-medical-life-insurance-whole-family-medical-shield-practitioner-doctor-protective-examined-with-stethoscope-icon-family.jpg"
        class="img-fluid" alt="Resource Library">
      <h3 class="mt-3">Resource Library</h3>
      <p>Access a vast library of healthcare resources, including articles, guides, and videos. Stay informed and make
        educated decisions about your health.</p>
    </div>
  </div>
</section> -->

<section class="py-5">
  <div class="container mt-5">
    <h2 class="text-center">Testimonials</h2>
    <div class="container mt-5">
      <carousel class="carousel-fade" [interval]="2000" [showIndicators]="true">
        <slide *ngFor="let group of groupedTestimonials">
          <div class="row">
            <div class="col-md-4" *ngFor="let testimonial of group">
              <div class="testimonial-card">
                <p>{{ testimonial.text }}</p>
                <footer>{{ testimonial.author }}</footer>
              </div>
            </div>
          </div>
        </slide>
      </carousel>
    </div>
  </div>
</section>

<!-- About Us Section -->
<section class="container">
  <h2 class="text-center mb-4">About Us</h2>
  <div class="row">
    <div class="col-md-6">
      <p>Healthcare Helper is dedicated to providing the best healthcare information and resources. Our mission is to
        empower individuals to take control of their health and make informed decisions. With a team of experienced
        professionals and a wealth of resources, we are committed to supporting your health journey.</p>
      <p>Our services include personalized healthcare plans, expert consultations, and a comprehensive resource library.
        We believe that everyone deserves access to quality healthcare information and guidance.</p>
    </div>
    <div class="col-md-6 text-center">
      <img src="/assets/happy-doctor-informing-senior-patient-about-health-insurance-options-consultations-clinic.jpg" class="img-fluid" alt="About Us">
    </div>
  </div>
</section>

<!-- Contact Section -->
<section class="py-5">
  <div class="container">
    <h2 class="text-center mb-4">Contact Us</h2>
    <div class="row">
      <div class="col-md-6" style="margin-top:85px;">
        <form (submit)="submitForm($event)">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Your Name" required>
          </div>
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Your Email" required>
          </div>
          <div class="form-group">
            <label for="message">Message</label>
            <textarea class="form-control" id="message" name="message" rows="3" placeholder="Your Message"
              required></textarea>
          </div>
          <div class="form-group pt-2">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="featureUpdates" name="featureUpdates">
              <label class="form-check-label" for="featureUpdates">
                I want to receive new, feature updates, and marketing SMS and email messages. <span class="text-danger pl-2">*</span>
              </label>
            </div>
          </div>
          <div class="form-group pt-2">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="termsOfUse" name="termsOfUse" required>
              <label class="form-check-label" for="termsOfUse">
                I acknowledge that I agree to the <a href="/terms-and-conditions">Terms of Use</a> and have read the <a href="/privacy-policy">Privacy Policy</a>. <span class="text-danger pl-2">*</span>
              </label>
            </div>
          </div>
          <button type="submit" class="btn btn-primary mt-2" [disabled]="loading">Send</button>
        </form>
      </div>
      <div class="col-md-6 text-center">
        <img src="/assets/retirement-label-jar-filled-with-money.jpg" class="img-fluid" alt="Contact Us">
      </div>
    </div>
  </div>
</section>

<!-- Why Choose Us Section -->
<!-- <section class="container my-5">
  <h2 class="text-center mb-4">Why Choose Healthcare Helper?</h2>
  <div class="row">
    <div class="col-md-4">
      <img src="/assets/joyful-seniors-exercising-together-sunny-park.jpg" class="img-fluid" alt="Active Lifestyle">
      <h3 class="mt-3">Active Lifestyle Support</h3>
      <p>Our programs and services are designed to help you maintain an active and healthy lifestyle. We believe in
        empowering seniors to live life to the fullest.</p>
      <p>Staying active is key to preserving physical and mental well-being as you age. That's why we offer a range of
        activities and resources tailored to your fitness level and personal interests. From guided exercise routines to
        group activities and wellness workshops, we provide everything you need to keep moving, stay engaged, and enjoy
        life.</p>
      <p>We understand that every individual has unique capabilities and goals. Whether you’re looking to enhance your
        mobility, boost your energy levels, or simply stay connected with others.</p>
    </div>
    <div class="col-md-4">
      <img src="/assets/happy-queer-eldery-couple-side-view.jpg" class="img-fluid" alt="Inclusive Care">
      <h3 class="mt-3">Inclusive Care for All</h3>
      <p>We offer tailored healthcare solutions for everyone, regardless of background or orientation. Our inclusive
        approach ensures that all are cared for with dignity and respect.</p>
    </div>
    <div class="col-md-4">
      <img
        src="/assets/senior-couple-talking-with-doctor-about-their-medical-records-while-having-consultations-clinic.jpg"
        class="img-fluid" alt="Trusted Advice">
      <h3 class="mt-3">Trusted Medical Advice</h3>
      <p>Consult with experienced doctors who specialize in elderly care. Get reliable advice that you can trust to make
        informed decisions about your health.</p>
      <p>Our team of specialists is dedicated to understanding the unique health challenges that come with aging. From
        managing chronic conditions to providing preventive care, we ensure that every recommendation is tailored to
        your specific needs. We take the time to listen to your concerns, review your medical history in detail, and
        provide you with clear, actionable advice that empowers you to take control of your health.</p>
    </div>
  </div>
</section> -->

<!-- Our Team Section -->
<!-- <section class="py-5">
  <div class="container">
    <h2 class="text-center mb-4">Meet Our Team</h2>
    <div class="row">
      <div class="col-md-3 text-center">
        <img src="/assets/black-female-doctor-doing-her-job.jpg" class="img-fluid mb-3" alt="Dr. Maria Johnson">
        <h4>Dr. Maria Johnson</h4>
        <p>Chief Medical Officer</p>
      </div>
      <div class="col-md-3 text-center">
        <img src="/assets/portrait-woman-working-pharmaceutical-industry.jpg" class="img-fluid mb-3" alt="Sarah Lee">
        <h4>Sarah Lee</h4>
        <p>Pharmacy Specialist</p>
      </div>
      <div class="col-md-3 text-center">
        <img src="/assets/nurse-with-nurse.jpg" class="img-fluid mb-3" alt="Emily Clark">
        <h4>Emily Clark</h4>
        <p>Senior Care Nurse</p>
      </div>
      <div class="col-md-3 text-center">
        <img src="/assets/close-up-doctor-holding-wooden-cube.jpg" class="img-fluid mb-3" alt="Dr. Emily Davis">
        <h4>Dr. Emily Davis</h4>
        <p>Insurance Specialist</p>
      </div>
    </div>
  </div>
</section> -->

<!-- Health & Wellness Section -->
<!-- <section class="container my-5">
  <h2 class="text-center mb-4">Health & Wellness Tips</h2>
  <div class="row">
    <div class="col-md-4">
      <img src="/assets/woman-eating-healthy.jpg" class="img-fluid" alt="Healthy Eating">
      <h3 class="mt-3">Healthy Eating Habits</h3>
      <p>Discover the best dietary tips to stay healthy and strong. Our guides help you choose nutritious meals that fit
        your lifestyle and taste.</p>
      <p>A well-balanced diet is crucial for maintaining energy levels, supporting immune function, and preventing
        chronic diseases. We provide practical advice on incorporating a variety of nutrient-dense foods into your daily
        routine, ensuring you get the vitamins and minerals needed to thrive. From heart-healthy recipes to meal
        planning tips, we make it easy to enjoy delicious and nutritious meals every day.</p>
      <p>In addition to general dietary advice, we offer specialized guidance for managing specific health conditions
        such as diabetes, hypertension, and digestive issues. Our experts understand the dietary needs of seniors and
        provide recommendations that are both effective and sustainable. </p>
    </div>
    <div class="col-md-4">
      <img src="/assets/morning-spring-openness-day-outstretched.jpg" class="img-fluid" alt="Mindfulness & Relaxation">
      <h3 class="mt-3">Mindfulness & Relaxation</h3>
      <p>Learn relaxation techniques to manage stress and improve mental well-being. Our mindfulness practices help you
        achieve a balanced life.</p>
    </div>
    <div class="col-md-4">
      <img src="/assets/medium-shot-smiley-women-meditation.jpg" class="img-fluid" alt="Meditation Practices">
      <h3 class="mt-3">Meditation Practices</h3>
      <p>Engage in meditation practices that enhance your mental clarity and peace of mind. Perfect for seniors looking
        to add calmness to their daily routine.</p>
      <p>Meditation is a powerful tool for reducing stress, improving focus, and promoting overall well-being. Our
        guided meditation sessions are tailored specifically for seniors, helping you to manage the challenges of aging
        with grace and resilience. Whether you’re new to meditation or have practiced for years, our easy-to-follow
        techniques are designed to be accessible and effective.</p>
      <p>Regular meditation can also support better sleep, lower blood pressure, and boost emotional health. By
        incorporating mindfulness practices into your daily routine, you can cultivate a deeper sense of inner peace and
        relaxation.</p>
    </div>
  </div>
</section> -->

<!-- Inspirational Stories Section -->
<!-- <section class="py-5">
  <div class="container">
    <h2 class="text-center mb-4">Inspirational Stories</h2>
    <div class="row">
      <div class="col-md-6">
        <img src="/assets/young-family-with-two-sons-together-sitting-park.jpg" class="img-fluid mb-3"
          alt="Family Bonding">
        <h3>Family Bonding through Generations</h3>
        <p>Read stories about families who have strengthened their bonds through shared experiences and healthcare
          support. Get inspired by their journeys.</p>
      </div>
      <div class="col-md-6">
        <img src="/assets/nostalgic-mature-couple-looking-their-photo-album-home.jpg" class="img-fluid mb-3"
          alt="Memories of a Lifetime">
        <h3>Memories of a Lifetime</h3>
        <p>Our elderly clients share their favorite memories and how healthcare has helped them continue creating new
          ones. Find joy in their experiences.</p>
      </div>
    </div>
  </div>
</section> -->


<!-- Loading Spinner Overlay -->
<div *ngIf="loading" class="spinner-overlay">
  <mat-spinner></mat-spinner>
</div>
