<div class="container mt-4 p-0">
  <div class="row">
    <div class="col-lg-4">
      <div class="card full-width m-0">
        <div class="card-header">
          Retirement Planning
        </div>
        <div class="card-body">
          <p>Welcome to the Retirement Planning section. Here you will find various resources and articles related to planning for retirement.</p>

          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/retirement-planning/eight-steps-to-prepare-for-retirement">
                8 Steps to Prepare for Retirement
              </a>
            </li>

            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/retirement-planning/avoiding-retirement-depression">
                Avoiding Retirement Depression
              </a>
            </li>

            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/retirement-planning/transitioning-into-retirement">
                Transitioning into Retirement
              </a>
            </li>

            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/retirement-planning/should-you-pay-off-your-home-before-you-retire">
                Should You Pay off Your Home Before You Retire
              </a>
            </li>

            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/retirement-planning/when-should-you-retire-early">
                When Should You Retire Early
              </a>
            </li>

            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/retirement-planning/retiring-from-your-401k-before-age-60">
                Retiring from Your 401k Before Age 60
              </a>
            </li>

            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/retirement-planning/test-your-retirement-knowledge">
                Test Your Retirement Knowledge
              </a>
            </li>

            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/retirement-planning/maxing-out-your-401k">
                Maxing Out Your 401k
              </a>
            </li>

            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/retirement-planning/self-employed-iras">
                Self-Employed IRAs
              </a>
            </li>

            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/retirement-planning/the-right-strategy-for-retirement-withdrawals">
                The Right Strategy for Retirement Withdrawals
              </a>
            </li>

            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/retirement-planning/when-should-you-take-social-security">
                When Should You Take Social Security
              </a>
            </li>

            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/retirement-planning/maximizing-social-security-benefits">
                Maximizing Social Security Benefits
              </a>
            </li>

            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/retirement-planning/the-social-security-trust-fund">
                The Social Security Trust Fund
              </a>
            </li>

            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/retirement-planning/how-to-spend-wisely-in-retirement">
                How to Spend Wisely in Retirement
              </a>
            </li>

            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/retirement-planning/the-inflation-protection-benefits-of-deferred-social-security">
                Inflation Protection Benefits of Deferred Social Security
              </a>
            </li>

            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/retirement-planning/planning-for-retirement-as-a-caregiver">
                Planning For Retirement as a Caregiver
              </a>
            </li>

            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/retirement-planning/terminology-trusts">
                Terminology: Trusts
              </a>
            </li>

            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/retirement-planning/twelve-retirement-planning-questions-to-consider">
                12 Retirement Planning Questions To Consider
              </a>
            </li>

            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/retirement-planning/what-is-a-backdoor-roth-ira">
                What is a Backdoor Roth IRA?
              </a>
            </li>

            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/retirement-planning/inheritance-rights-for-spouses-trusts-vs-leaving-everything-directly">
                Inheritance Rights for Spouses
              </a>
            </li>

            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/retirement-planning/stay-active-during-retirement">
                Stay Active During Retirement
              </a>
            </li>

            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/retirement-planning/top-10-retirement-myths">
                Top 10 Retirement Myths
              </a>
            </li>

            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/retirement-planning/staying-tech-savvy-during-retirement">
                Staying Tech Savvy During Retirement
              </a>
            </li>

            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/retirement-planning/the-pros-and-cons-of-reverse-mortgages">
                Pros and Cons of Reverse Mortgages
              </a>
            </li>

            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/retirement-planning/the-four-percent-rule-for-retirement-withdrawals">
                The 4% Rule for Retirement Withdrawals
              </a>
            </li>

            <li class="list-group-item">
              <hr style="border: none;" />
            </li>

            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/article">Back to Articles</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
