<div class="container mt-4 p-0">
  <div class="row">
    <div class="col-lg-4">
      <div class="card full-width m-0">
        <div class="card-header">
          Death, and End of Life Planning
        </div>
        <div class="card-body">
          <p>Welcome to the Death, and End of Life Planning section. Here you will find various resources and articles related to end-of-life planning.</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/end-of-life-planning/dealing-with-terminal-illness">Dealing with Terminal Illness</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/end-of-life-planning/how-to-pass-away-with-tranquility">How to pass away with tranquility</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/end-of-life-planning/dealing-with-resentment">Dealing with Resentment</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/end-of-life-planning/planning-your-legacy">Planning Your Legacy</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/end-of-life-planning/the-elephant-in-the-room-why-are-americans-afraid-to-talk-about-death">The Elephant in the Room: Why are Americans afraid to Talk About Death?</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/end-of-life-planning/seven-types-of-insurance-policies-you-do-and-dont-need">7 Types of Insurance Policies you Do and Don’t Need</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/end-of-life-planning/how-to-buy-a-life-insurance-policy-and-what-to-avoid">How to Buy a Life Insurance Policy and What to Avoid</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/end-of-life-planning/purchasing-a-life-insurance-policy">Purchasing a Life Insurance Policy?</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/end-of-life-planning/when-to-buy-long-term-care-insurance">When to Buy Long Term Care Insurance</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/end-of-life-planning/is-long-term-care-insurance-worth-it">Is Long Term Care Insurance Worth It?</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/end-of-life-planning/disability-insurance-benefits-can-help-protect-your-ability-to-earn">Disability Insurance Benefits Can Help Protect Your Ability To Earn</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/end-of-life-planning/what-is-an-umbrella-insurance-policy">What is an Umbrella Insurance Policy?</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/end-of-life-planning/common-mistakes-in-creating-a-will">Common Mistakes In Creating a Will</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/end-of-life-planning/wills-trusts-taxes-and-inheritance-making-sense-of-everything">Wills, Trusts, Taxes, &amp; Inheritance: Making Sense of Everything</a></li>
            <li class="list-group-item"><hr style="border: none;" /></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/article">Back to Articles</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
