<div class="container mt-4 p-0">
  <div class="row">
    <div class="col-lg-4">
      <div class="card full-width m-0">
        <div class="card-header">
          Who Will Take Care of You?
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item active">
              <a href="/insurance-options/dental-vision">Overview</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="container">
        <!-- Who Will Take Care of You? Section -->
        <div class="row mb-4">
          <div class="col-lg-12">
            <div class="card full-width m-0">
              <div class="card-header bg-primary text-white">
                Who Will Take Care of You?
              </div>
              <div class="card-body">
                <img src="/assets/realistic-scene-with-health-worker-taking-care-elderly-patient (4).jpg" />
                <h5>The Need for Long Term Care</h5>
                <p>One of the most critical questions to ask as you look toward retirement is how you will be cared for
                  if you fall ill. Expecting family members informally to take care of you, and for you to take care of
                  your loved ones may not work out as simply as it may appear.</p>
                <p>The health of family caregivers suffers significantly as a result of the physical and emotional
                  burden that caregiving places on them. <a target="_blank"
                    href="https://www.cdc.gov/aging/caregiving/caregiver-brief.html">53% of caregivers report a decline
                    in their own health</a> as a result of their caretaking duties. They report less sleep, higher
                  experiences of depression, and chronic illnesses.</p>
                <p>Taking a proactive approach to your health, including adequate physical exercise and regular doctor’s
                  visits will help you sustain your independence as long as you are able. Beyond this, one important
                  solution to the caretaker’s dilemma is a Long Term Care policy <a
                    href="/insurance-options/long-term-care" class="text-primary">Long Term Care</a>.</p>
                    <a class="btn btn-primary" href="/about-us/contact-us">To receive a Long Term Care Quote, Contact Us.</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
