<div class="container mt-4 p-0">
  <div class="row">
    <div class="col-lg-4">
      <div class="card full-width m-0">
        <div class="card-header">
          About Us
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item active">
              <a href="/about-us/about-healthcare-helpers">Overview</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="container m-0">
        <!-- Hero Section -->
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
          </div>
        </div>
        <!-- Founder Section -->
        <div class="row mb-4">
          <div class="col-lg-12">
            <div class="card full-width m-0">
              <p class="display-4"><strong>About the Founder</strong></p>
              <p class="lead">Meet Gordon Welty, the visionary behind Healthcare Helpers.</p>
              <div class="card-header bg-primary text-white">
                Gordon Welty
              </div>
              <div class="card-body">
                <p>Gordon Welty is the Founder and Principal of Healthcare Helpers. A Southern California native, he
                  grew up witnessing his mother pass away from a treatable cancer at age 50, and began to experience
                  health problems himself at age 40.</p>
                <p>After serving in the US Marines after high school, Gordon completed his bachelor’s degree at UCLA and
                  moved into the nonprofit world, both locally, then internationally, where he founded a nonprofit to
                  build schools and medical clinics for refugees fleeing conflict in the country known as Myanmar
                  (Burma).</p>
                <p>After returning to the US, Mr. Welty became a project manager for a successful construction and
                  technology company before transitioning into the sales industry, where he thrived. With a strong
                  distaste for pressure sales tactics, he decided he would seek out his own consultative and
                  engineering-minded approach to sales, and eventually moved into the healthcare industry.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
