<div class="container mt-4 p-0">
  <div class="row">
    <div class="col-lg-4">
      <div class="card full-width m-0">
        <div class="card-header">
          Healthcare Terms
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item active">
              <a href="/healthcare-resources/healthcare-terms">Overview</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="container m-0">
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h2 class="display-4">Basic Healthcare Terms</h2>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-lg-12">
            <div class="card full-width m-0">
              <div class="card-header bg-primary text-white">Basic Healthcare Terms</div>
              <div class="card-body">
                <img src="/assets/doctor-filling-up-life-insurance-form.jpg" />
                <p>Understanding what your insurance company is communicating to you makes your conversations so much easier, with less agony and frustration. Below are a list of basic terms that are relevant to all health insurance.</p>
                <ul>
                  <li><strong>Premium:</strong> The monthly dollar amount you are required to pay in order to have your insurance plan</li>
                  <li><strong>Deductible:</strong> A dollar figure required by your insurance company that you must pay before the insurance plan actually contributes anything to your costs</li>
                  <li><strong>Coinsurance:</strong> A percentage of the cost that will be charged to the patient for the treatment</li>
                  <li><strong>Copayment:</strong> A specific dollar figure that will be charged to the patient for the treatment</li>
                  <li><strong>Maximum Out of Pocket Costs:</strong> The maximum dollar amount per calendar year that a patient would expect to pay on an insurance plan, in a worst-case scenario. Once you reach that maximum amount, your costs on the plan will normally remain $0 until January 1 of the following year.</li>
                  <li><strong>Health Maintenance Organization (HMO):</strong> This is the most common medical network, where a group of doctors get together and agree to work with (refer) each other for care, resulting in overall lower costs. You cannot leave the network to get care, except in emergencies. Your HMO also has a predetermined hospital assigned, which is the only hospital you can go to if you require surgery or a long-term stay. HMOs provide the lowest overall cost for healthcare, and have generally been proven to provide superior health results.</li>
                  <li><strong>Preferred Provider Organization (PPO):</strong> This is also a medical network of doctors like an HMO, but with the option to leave the network so long as you are willing to pay a pre-agreed upon higher cost for your care. PPOs put more onus on you to manage your own care, and while they may be a lot more expensive, they provide you will the option to see any doctor or go to any hospital you want.</li>
                </ul>
                <p>For a detailed explanation, please visit The Medical Industry, Illuminated</p>
                <p><a href="/for-patients/the-medical-industry-illuminated">The Medical Industry, Illuminated</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
