<div class="container mt-4 p-0">
  <div class="row">
    <div class="col-lg-4">
      <div class="card full-width m-0">
        <div class="card-header">
          Healthcare
        </div>
        <div class="card-body">
          <p>Welcome to the Healthcare section. Here you will find various resources and articles related to healthcare management.</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/healthcare/how-to-choose-a-doctor">How to Choose a Doctor</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/healthcare/how-to-make-the-most-out-of-your-doctor-visits">How to Make the Most Out of Your Doctor Visits</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/healthcare/how-to-process-your-doctor-visits">How to Process Your Doctor Visits</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/healthcare/what-to-do-when-you-receive-a-diagnosis">What to Do When You Receive a Diagnosis</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/healthcare/how-to-minimize-confusion-and-uncertainty-after-your-doctor-visits">How to Minimize Confusion and Uncertainty After Your Doctor Visits</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/healthcare/building-your-personal-healthcare-team">Building your Personal Healthcare Team: Everyone Needs One</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/healthcare/why-you-should-see-your-doctor-even-if-you-are-healthy">Why You should see your doctor even if you are healthy</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/healthcare/preparing-for-surgery">Preparing for Surgery</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/healthcare/what-your-doctor-thinks-about-when-giving-you-a-diagnosis">What your Doctor thinks about when giving you a Diagnosis (how to avoid scaring you)</a></li>

            <li class="list-group-item"><hr style="border: none;" /></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/article">Back to Articles</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
