/* @import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
}

.spacer {
  flex: 1 1 auto;
}

.hero {
  text-align: center;
  background: url('assets/healthcare-hero.jpg') no-repeat center center;
  background-size: cover;
  padding: 50px 20px;
  color: white;
}

.hero h1 {
  font-size: 3em;
  margin: 0;
}

.hero p {
  font-size: 1.5em;
  margin: 10px 0;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}

.card {
  width: 300px;
  margin: 10px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #f8f9fa;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.full-width-card {
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
img{
  max-width: 100% !important;
}
.full-width{
  width: 100% !important;
}
li a.active{
  font-weight: bold;
}
ul.list-group.list-group-flush li a{
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
body {
  font-family: 'Montserrat', sans-serif !important;
}

h1, h2, h3, h4, h5, h6, p, a, button {
  font-family: 'Montserrat', sans-serif !important;
}
.carousel-item {
  display: flex;
}

.carousel-item .row {
  display: flex;
  justify-content: center;
  width: 100%;
}

.testimonial-card {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  padding: 1rem;
  margin: 0.5rem;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.testimonial-card p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.testimonial-card footer {
  font-size: 0.875rem;
  font-weight: bold;
}
.carousel-control-prev:hover, .carousel-control-next:hover {
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the background color as needed */
}

.carousel-item {
  display: flex;
  justify-content: center;
}

.carousel-item .testimonial-card {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  padding: 1rem;
  margin: 0.5rem;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.testimonial-card{
  min-height: 200px;
  width: 100%;
  margin: auto !important;
}

.testimonial-card p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.testimonial-card footer {
  font-size: 0.875rem;
  font-weight: bold;
  position: relative;
}
/* .carousel-inner > .item.carousel-item{
  display: none;
}
.carousel-inner > .item.carousel-item.active{
  display: block;
} */
.carousel-fade .carousel-item {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.carousel-fade .carousel-item.active {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.carousel-fade .carousel-inner {
  position: relative;
  overflow: hidden;
}

.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
  opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .active.carousel-item-left {
  opacity: 1;
}

.carousel-fade .carousel-item-prev,
.carousel-fade .active.carousel-item-right {
  opacity: 1;
}

ul.list-group.list-group-flush > li.list-group-item.active{
  background: #0047bb !important;
}
ul.list-group.list-group-flush > li.list-group-item.active > a{
  color: #fff;
  font-weight: bold;
}
.card-header.text-white {
  background: #0047bb !important;
}
@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      max-width: 1520px;
  }
}
