<div class="container mt-4 p-0">
  <div class="row">
    <div class="col-lg-4">
      <div class="card full-width m-0">
        <div class="card-header">
          Caregiver Resources
        </div>
        <div class="card-body">
          <p>Welcome to the Caregiver Resources section. Here you will find various resources and articles related to caregiving.</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/caregiver-resources/caregiver-survival-tips">Caregiver Survival Tips</a>
            </li>
            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/caregiver-resources/five-steps-for-advance-care-planning">5 Steps for Advanced Care Planning</a>
            </li>
            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/caregiver-resources/housing-options-for-older-adults">Housing Options for Older Adults</a>
            </li>
            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/caregiver-resources/long-term-care-planning">Planning for Long Term Care - One of Healthcare's Biggest</a>
            </li>
            <li class="list-group-item"><hr style="border: none;" /></li>
            <li class="list-group-item">
              <a routerLinkActive="active" routerLink="/article">Back to Articles</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
