<div class="container mt-4 p-0">
  <div class="row">
    <div class="col-lg-4">
      <div class="card full-width m-0">
        <div class="card-header">
          Mental Health
        </div>
        <div class="card-body">
          <p>Welcome to the Mental Health section. Here you will find various resources and articles related to mental health and well-being.</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/mental-health/making-the-most-of-your-therapy-appointments">Making the Most of your Therapy Appointments</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/mental-health/how-to-develop-resilience-when-you-are-experiencing-health-issues">How to Develop Resilience When You Are Experiencing Health Issues</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/mental-health/5-best-ways-to-manage-anxiety">5 Best Ways to Manage Anxiety</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/mental-health/simple-ways-to-manage-your-mental-health">Simple Ways To Manage Your Mental Health</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/mental-health/the-benefits-of-breathing">The Benefits of Breathing</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/mental-health/the-positive-role-of-stress-in-your-life">The POSITIVE Role of Stress in Your Life</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/mental-health/the-importance-of-sleep">The Importance of Sleep: Why It Matters for Your Body and Mind</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/mental-health/trauma-101">Trauma 101: What Is It and How Do I Manage It?</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/mental-health/trauma-102">Trauma 102: Trauma is Transformative!</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/mental-health/advancements-in-preventing-and-managing-cognitive-decline">Advancements in Preventing and Managing Cognitive Decline</a></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/mental-health/testing-for-cognitive-decline">Testing For Cognitive Decline</a></li>

            <li class="list-group-item"><hr style="border: none;" /></li>
            <li class="list-group-item"><a routerLinkActive="active" routerLink="/article">Back to Articles</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
