<div class="container mt-4 p-0">
  <div class="card full-width m-0">
    <div class="card-header bg-primary text-light">
      How to Minimize Confusion and Uncertainty After Your Doctor Visits
    </div>
    <div class="card-body">
      <p>Your doctor is one of the most powerful tools you can utilize from your healthcare toolchest. The problem is, few people know or have any clue how to utilize their doctor correctly, resulting in an often one sided relationship where your doctor gives you tasks to follow, and you either follow them assiduously to improve your health, or hope that time will passively heal you.</p>
      <p>In any relationship, extreme passivity and extreme intensity is a death knell. Socrates likened conversation between two people as a rope both people are holding on either end. Pull too tight on the rope and conversation will end. Don’t pull tight enough and conversation will not go anywhere. The proper way to have a conversation, he says, is for both side to hold with enough tension that the other side feels it.</p>
      <p>To be able to use a tool, you must be trained, otherwise the tool will be underutilized. In a medical setting, a lack of training on how to work with doctors may lead to conversations that are laden with anxiety or passivity. Nearly half of Americans (48%) experience anxiety before a doctor’s appointment. The primary cause of this anxiety is a lack of information which would help them prepare for their appointment. As a result, 40% of members postpone their doctor’s appointment, resulting in poorer health results due to a lack of receiving necessary treatment.</p>
      <p>Your doctor is one of your biggest assets on your healthcare team. A good doctor will take the time to educate you and point you in the right direction to get the resources and information you need to make sound decisions. The key to any good relationship is proper communication. There are a few different aspects of communication that matter:</p>

      <p>• Your World View</p>
      <p>• The Limits to your World View</p>
      <p>• The gap between your understanding and the understanding of the person you are speaking with</p>
      <p>• What you need to ask in order to make effective decisions.</p>

      <h2>Your World View</h2>
      <p>We each come to a conversation with an understanding of the world based on our level of education and life experiences. An artist will undoubtedly have a more artistic view of the world than a non-artist, and a student trained in mathematics will be able to navigate statistics and data more effectively than others.</p>

      <h2>The Limits to your World View</h2>
      <p>If your background is in art and not in math, the question is, do you understand how this may shape as well as hinder your ability to navigate in the world? Because it is typical that we fail to recognize what we don’t know, this creates a blind spot, which is called ignorance. Ignorance is neither good nor bad, it simply is the limits to our ability to understand the world around us.</p>
      <p>Self-awareness is the ability to recognize the limits to our world view.</p>

      <h2>Your Understanding Gap</h2>
      <p>Communication requires the ability to suspend your first-person mode of thinking, and acknowledge that all other people whom you may speak to have their own valid experiences and understanding of the world. Having a valid understanding is not the same as having a fully accurate understanding of a topic or phenomenon. Nevertheless, genuine respect begins from being capable of listening to others, even if we do not agree with their perspective.</p>
      <p>However, when it comes to professional care, the opinions of your doctor come from years of highly specialized, data-driven training. Your doctor is not fallible, but you can accept that their opinion is informed. The gap between your understanding and conception of medicine and your doctor’s is what must be bridged.</p>

      <h2>What You Need To Ask</h2>
      <p>With your doctor, begin by getting on the same page. Remind them that you do not understand technical medical terminology, and that it will take time for you to take in the information. Add that you will be taking notes so you can look them up online following your visit in order to better understand what they are trying to communicate to you. Ask them to share with you other medical information that you should search for online.</p>
    </div>
  </div>
</div>
